*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

/*	font-family: 'Kanit', sans-serif;
	font-family: 'Roboto', sans-serif;*/
}

.ex-landing{
	background:
		linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 34, 65, 0.3)),
		url("./images/landing_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
/*	height: 125vh;*/
	height: inherit;
	background-position: 0% 50%;
}


#ex-gradientshadow{
	width: auto;%;
  	height: 100%;
  	position: relative;
  	background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}

/*#ex-darkbg{
	background-color: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
}*/

/*Position of header*/
#ex-aboutme-header{
  text-align: center;
  font-family: kanit;
  color: white;

  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;

}

@media screen and (min-width: 768px) {
#ex-aboutme-header{

}
}

#profile-jcdolz{
width: 50%;
height: auto;
margin-top: 20%;
margin-left: auto;
margin-right: auto;
display: block;
}

#aboutme{
	background-color: black;
	padding-top: 0%;
}

.aboutmecontent{
	width: 60%;
}

#webprojects{
	background-color: black;
}

#web-container{
	background-color: black;
	padding-top: 10%;
	padding-bottom:;

}

#web-containerwhole{
	background-color: #242430;
	border-radius: 20px;
	padding-top: 5%;	
}




#projects{
	background-color: black;
	width: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

#slidecontainer{
	height: 100vh;

}

.ex-coretoolsimage{
	width: 20vw;
}
.ex-othertoolsimage{
	width: 15vw;
}

#tools, #divider{
	background-color: #2cd27c;
}


#tools h3, #tools h2, #tools h1{
	  font-family: kanit;
	  font-size: 3rem;
	  margin-top: 5rem;
	  margin-bottom: 2rem;
	  font-weight: bolder;
	  color:  #282424;
	  text-align: center;
}

#core-tools img{
	background-color: #243030;
	padding: 5%;
}

#other-tools img{
	background-color: #243030;
	padding: 5%;
	margin-bottom: 5rem;
}


}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #282424;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact{
	background-color: #282424;
}

#contact *{
	font-family: kanit;
}

#contact h1 {
    text-align: center;
    color: #333;
}

#contact form {
    margin-top: 20px;
}

#contact label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact button {
    background-color: #2cd27c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
